[alias]
    rb = rebase -i
    d = difftool
    s = status
    c = commit
    pull = pull --prune --all

    lg = !"git lg-light-bg"
    lg-light-bg = log --graph --abbrev-commit --decorate --format=format:'%C(bold green)%h%C(reset) - %C(bold cyan)(%ar)%C(reset) %C(black)%s%C(reset) %C(dim black)- %an%C(reset)%C(auto)%d%C(reset)'
    lg-dark-bg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'

    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"

[branch]
    sort = committerdate

[core]
    excludesfile = ~/.gitexclude

[credential]
    helper = store

[diff]
    tool = diffmerge
    algorithm = histogram

[difftool "diffmerge"]
    cmd = "vim -d $LOCAL $REMOTE"

[fetch]
    prune = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[help]
    autocorrect = immediate

[log]
    date = iso

[pull]
	ff = only

[push]
    default = current
    followtags = true

[merge]
    tool = mergetool
    renamelimit = 3000
    conflictstyle = zdiff3
    keepBackup = false

[mergetool]
	keepBackup = false

[mergetool "mergetool"]
    cmd = vim -d $MERGED

[rebase]
    autostash = true
    autosquash = true
    missingCommitsCheck = error
    updateRefs = true

[include]
    path = "~/.dotfiles/gitconfig"
